@using Azure.Core

@model IEnumerable<CloupardTask.Service.ViewModels.Products.ProductViewModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seedra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css?v=1.0">
</head>

<body>
    <header>
        <div class="container">
            <div class="nav">
                <a href="index.html">
                    <img src="/images/logo.svg" alt="logo">
                </a>
                <ul class="nav__list">
                    <li class="nav__list__item">
                        <a href="#">
                            ALL PRODUCTS
                        </a>
                    </li>
                    <li class="nav__list__item">
                        <a href="#">
                            ABOUT SEEDRA
                        </a>
                    </li>
                    <li class="nav__list__item">
                        <a href="#">
                            OUR BLOG
                        </a>
                    </li>
                    <li class="nav__list__item">
                        <a href="#">
                            CONTACTS
                        </a>
                    </li>
                </ul>
                <div class="nav__socials">
                    <a href="#">
                        <img src="/images/instagram.svg" alt="instagram">
                    </a>
                    <a href="#">
                        <img src="/images/facebook.svg" alt="facebook">
                    </a>
                </div>

                <div class="search-bar">
                    <svg class="search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.7753 18.6511L16.8091 15.7067C17.9605 14.2699 18.5181 12.4464 18.3672 10.6109C18.2164 8.77535 17.3685 7.06745 15.998 5.83834C14.6275 4.60923 12.8385 3.95232 10.9989 4.0027C9.15928 4.05307 7.40887 4.8069 6.10758 6.10918C4.80629 7.41146 4.05303 9.1632 4.0027 11.0042C3.95236 12.8452 4.60876 14.6356 5.83694 16.0071C7.06512 17.3787 8.77172 18.2272 10.6058 18.3781C12.4399 18.5291 14.2621 17.9711 15.6978 16.8188L18.64 19.7633C18.7143 19.8383 18.8028 19.8978 18.9002 19.9385C18.9976 19.9791 19.1021 20 19.2077 20C19.3132 20 19.4177 19.9791 19.5152 19.9385C19.6126 19.8978 19.701 19.8383 19.7753 19.7633C19.9194 19.6141 20 19.4147 20 19.2072C20 18.9997 19.9194 18.8003 19.7753 18.6511ZM11.2124 16.8188C10.1055 16.8188 9.02346 16.4903 8.10309 15.8749C7.18272 15.2595 6.46538 14.3847 6.04178 13.3613C5.61818 12.3379 5.50735 11.2117 5.7233 10.1252C5.93925 9.03875 6.47228 8.04076 7.25499 7.25746C8.0377 6.47416 9.03493 5.94072 10.1206 5.72461C11.2062 5.50849 12.3315 5.61941 13.3542 6.04333C14.3768 6.46725 15.2509 7.18514 15.8659 8.1062C16.4809 9.02727 16.8091 10.1102 16.8091 11.2179C16.8091 12.7034 16.2195 14.128 15.1699 15.1784C14.1203 16.2287 12.6968 16.8188 11.2124 16.8188Z"
                              fill="#70737C" />
                    </svg>

                    <form method="get" action="@Url.Action("GetAllProducts", "Product")">
                        <input type="text" class="search-input" placeholder="Search" name="name" value="@Context.Request.Query["name"]" />
                    </form>
                </div>


                <div class="nav__actions">
                    <a href="#">
                        <img src="/images/nav_icon_1.svg" alt="icon">
                    </a>
                    <a href="#">
                        <img src="/images/nav_icon_2.svg" alt="icon">
                    </a>
                    <a href="#" class="nav__actions__menu">
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 0.25C8.58579 0.25 8.25 0.585786 8.25 1C8.25 1.41421 8.58579 1.75 9 1.75L15 1.75C15.4142 1.75 15.75 1.41421 15.75 1C15.75 0.585787 15.4142 0.25 15 0.25H9Z"
                                  fill="#70737C" />
                            <path d="M1 6.25C0.585786 6.25 0.25 6.58579 0.25 7C0.25 7.41421 0.585786 7.75 1 7.75H15C15.4142 7.75 15.75 7.41421 15.75 7C15.75 6.58579 15.4142 6.25 15 6.25H1Z"
                                  fill="#70737C" />
                            <path d="M5 12.25C4.58579 12.25 4.25 12.5858 4.25 13C4.25 13.4142 4.58579 13.75 5 13.75L15 13.75C15.4142 13.75 15.75 13.4142 15.75 13C15.75 12.5858 15.4142 12.25 15 12.25L5 12.25Z"
                                  fill="#70737C" />
                        </svg>
                    </a>
                </div>

                <!-- Login Button -->
                <div class="nav__login">
                    <a href="@Url.Action("Login", "Account")" class="login-btn">
                        <img src="~/Images/LogInIcon.jpg" alt="Login" title="Login">
                    </a>

                </div>


            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="hero">
                    <h1>
                        SEEDRA Basil Seeds for Indoor and Outdoor Planting
                    </h1>
                    <p class="hero__desc">
                        Be sure of our quality - the freshest batches of this season. Non-GMO, Heirloom - our seeds were
                        tested and have the best germination ratings. Your easy growing experience is our guarantee
                    </p>
                    <div class="hero__price">
                        <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.2652 21.7765C35.4968 20.047 34.3797 18.4947 32.9839 17.2167L31.8321 16.1599C31.793 16.125 31.7459 16.1002 31.695 16.0877C31.6441 16.0753 31.5909 16.0755 31.5401 16.0884C31.4893 16.1013 31.4424 16.1265 31.4036 16.1617C31.3648 16.1969 31.3352 16.2411 31.3175 16.2905L30.8029 17.7669C30.4823 18.6931 29.8926 19.6391 29.0574 20.5692C29.002 20.6286 28.9387 20.6444 28.8951 20.6484C28.8516 20.6523 28.7843 20.6444 28.7249 20.589C28.6695 20.5415 28.6418 20.4703 28.6458 20.399C28.7922 18.0162 28.0798 15.3286 26.5202 12.4036C25.2299 9.97329 23.4369 8.07734 21.1965 6.75532L19.5618 5.79349C19.3481 5.66683 19.075 5.83307 19.0869 6.08244L19.1739 7.98234C19.2333 9.28061 19.0829 10.4285 18.7267 11.3824C18.2913 12.55 17.6659 13.6346 16.8663 14.6083C16.3099 15.285 15.6793 15.897 14.9862 16.433C13.3171 17.7161 11.9599 19.3601 11.0162 21.2421C10.0749 23.1405 9.58452 25.2306 9.58337 27.3495C9.58337 29.2177 9.95148 31.0266 10.6798 32.7326C11.383 34.3751 12.3978 35.8657 13.6682 37.1222C14.9506 38.3888 16.4389 39.3862 18.0973 40.0789C19.8152 40.7993 21.6359 41.1634 23.516 41.1634C25.3961 41.1634 27.2169 40.7993 28.9347 40.0828C30.5891 39.3942 32.0935 38.3899 33.3639 37.1261C34.6463 35.8595 35.6517 34.3792 36.3523 32.7365C37.0795 31.0352 37.4525 29.2037 37.4487 27.3535C37.4487 25.4219 37.0528 23.5457 36.2652 21.7765Z"
                                  fill="#E55C5C" />
                        </svg>
                        <p class="hero__price__main">
                            $12.56
                        </p>
                        <p class="hero__price__secondary">
                            $15.56
                        </p>
                    </div>
                    <div class="hero__btns">
                        <a href="#" class="hero__btns__success">
                            Add to card
                        </a>
                        <a href="#" class="hero__btns__light">
                            Discover
                        </a>
                    </div>
                </div>
                <div class="seeds">
                    <h2 class="seeds__title">
                        We sell seeds
                    </h2>
                    <p class="seeds__desc">
                        that always sprout and gardening supplies which never break
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="products">
                    <div class="products__top">
                        <h2 class="products__top__title">
                            Our products.
                        </h2>
                        <a href="#" class="products__top__view">
                            View all(12)
                        </a>
                    </div>
                    <ul class="products__list">
                        <li class="products__list__item">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.8161 25.8609C23.9233 25.6945 23.9604 25.4925 23.9193 25.2989C23.8782 25.1052 23.7622 24.9357 23.5966 24.8273C22.7857 24.3011 21.8447 23.6849 20.8332 22.9896C21.2271 21.4073 21.4813 19.7934 21.5928 18.1666C21.7549 15.2923 21.2621 12.9818 20.126 11.1682C17.9142 7.66455 13.6997 6.80376 10.3089 6.10955C8.22389 5.68416 6.25731 5.28798 5.4525 4.3866C5.3578 4.28119 5.23517 4.20479 5.09883 4.16628C4.96249 4.12776 4.81803 4.1287 4.6822 4.16899C4.54637 4.20929 4.42474 4.28727 4.33141 4.39392C4.23808 4.50056 4.17688 4.63148 4.1549 4.7715C4.06183 5.2243 2.59795 15.6167 8.09179 21.0775C10.8001 23.7607 14.6994 24.7539 19.6942 24.0217C20.8192 24.836 21.8627 25.4955 22.783 26.0805C22.9492 26.1878 23.1512 26.2249 23.3447 26.1838C23.5383 26.1426 23.7077 26.0266 23.8161 25.8609ZM9.13473 20.0175C5.25315 16.1794 5.34087 9.16349 5.50288 6.28919C6.93943 6.92241 8.4548 7.3589 10.008 7.58686C13.2804 8.25188 16.9829 9.00872 18.8575 11.9678C20.2901 14.2486 20.501 17.5644 19.5051 22.0512C15.5669 19.2161 11.1242 15.3464 9.74544 10.9135C9.6782 10.7343 9.545 10.5877 9.37315 10.5036C9.20129 10.4195 9.00378 10.4043 8.82112 10.4613C8.63845 10.5182 8.48446 10.6428 8.3907 10.8097C8.29694 10.9765 8.27052 11.1729 8.31685 11.3586C9.73211 15.9438 13.9504 19.8008 17.8618 22.7095C14.1402 22.9577 11.2188 22.0572 9.15012 20.0108L9.13473 20.0175Z"
                                      fill="#359740" />
                            </svg>
                            <p class="products__list__item__name">
                                ALL
                            </p>
                        </li>
                        <li class="products__list__item">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.01153 6.54006C6.82779 7.12365 7.28404 8.41484 7.48508 8.6399L7.30993 8.93713L10.8535 21.3103C11.0527 22.0595 11.63 22.1065 11.8938 22.0364L21.152 19.5751C22.0714 19.4643 22.2296 18.9544 22.1937 18.7133L18.7838 5.88679L18.4051 5.73682C18.5607 5.47262 18.6514 4.11402 18.1689 3.57386C17.5658 2.89866 7.24121 5.81057 7.01153 6.54006Z"
                                      stroke="#359740" stroke-width="1.5" />
                                <path d="M4.03833 13.1508C3.95225 13.7723 4.69244 14.8968 4.95253 15.0576L4.8207 15.3978L11.02 26.4149C11.3787 27.0864 12.0105 26.9647 12.2815 26.8199L21.7951 21.7374C22.7656 21.3627 22.8382 20.8204 22.7532 20.5961L16.6111 9.09894L16.1737 9.06284C16.2909 8.76047 16.1277 7.41156 15.5034 7.02572C14.7232 6.54342 4.14594 12.374 4.03833 13.1508Z"
                                      fill="white" stroke="#359740" stroke-width="1.5" />
                            </svg>

                            <p class="products__list__item__name">
                                BUNDLES
                            </p>
                        </li>
                        <li class="products__list__item">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.9834 19.7685C17.8325 19.7685 17.675 19.7488 17.5043 19.6963C16.3362 19.3747 15.0434 19.7488 14.2296 20.6347C13.8818 21.0088 13.4159 21.2122 12.9171 21.2122C11.9328 21.2122 11.1321 20.4116 11.1321 19.4272C11.1321 19.3551 11.1453 19.2632 11.1584 19.1516C11.2962 18.2854 11.0796 17.4126 10.5612 16.7038C10.0493 16.0082 9.26183 15.5291 8.40871 15.3979C7.89683 15.3191 7.50964 14.8663 7.50964 14.3544C7.50964 14.0854 7.60808 13.8426 7.79183 13.6391C8.43496 12.9435 8.74996 11.9985 8.64496 11.0535C8.53339 10.1151 8.02808 9.26193 7.24714 8.7238C6.95183 8.52037 6.53839 8.59255 6.33496 8.88787C6.12496 9.18318 6.19714 9.59662 6.49902 9.80005C6.96496 10.1282 7.27339 10.6335 7.33902 11.2044C7.40464 11.7688 7.21433 12.3397 6.82714 12.7597C6.53839 13.0747 6.19714 13.6063 6.19714 14.3676C6.19714 15.5291 7.06339 16.5332 8.21183 16.7104C8.72371 16.7891 9.19621 17.0713 9.50464 17.4913C9.81308 17.9179 9.94433 18.4363 9.85902 18.9613C9.82621 19.1516 9.81964 19.3026 9.81964 19.4338C9.81964 21.1466 11.2109 22.5313 12.9171 22.5313C13.79 22.5313 14.5971 22.1769 15.1943 21.5272C15.6865 20.9957 16.4609 20.7726 17.1631 20.9629C17.4453 21.0416 17.7209 21.081 17.99 21.081C18.3509 21.081 18.6462 20.7857 18.6462 20.4247C18.6396 20.0638 18.3443 19.7685 17.9834 19.7685Z"
                                      fill="#359740" />
                                <path d="M21.7241 21.3894C22.5444 20.4903 23.0497 19.2959 23.0497 17.9834C23.0497 17.3075 22.7675 16.5594 22.5312 15.9688C23.6469 15.0369 24.5 13.7506 24.5 12.1888C24.5 9.38656 22.2294 7.1225 19.4338 7.1225C18.8694 7.1225 18.4494 7.26688 17.9375 7.4375C17.4256 5.61313 15.6275 4.22188 13.6391 4.22188C12.7072 4.22188 12.0837 4.31375 11.375 4.8125C10.5809 3.88719 9.16344 3.5 7.84438 3.5C5.4425 3.5 3.5 5.4425 3.5 7.84438C3.5 9.3275 4.33344 10.5941 5.46875 11.375C4.75344 12.1494 4.22188 13.2256 4.22188 14.3609C4.22188 16.5331 6.00688 18.2722 8.09375 18.5938C8.05438 18.8497 7.84438 19.1647 7.84438 19.4338C7.84438 22.2359 10.115 24.5 12.9106 24.5C14.3806 24.5 15.6931 23.5353 16.625 22.5312C16.9859 22.8003 17.5175 23.0497 17.9834 23.0497C18.9941 23.0497 19.9325 22.7478 20.72 22.2425C21.2056 22.9316 21.6256 23.5812 21.9603 24.1653C22.085 24.3819 22.3016 24.5 22.5312 24.5C22.6428 24.5 22.7544 24.4738 22.8594 24.4147C23.1744 24.2375 23.2859 23.8372 23.1022 23.5222C22.7281 22.8725 22.2622 22.1506 21.7241 21.3894ZM17.4059 21.4812C17.1763 21.3041 16.9006 21.2188 16.625 21.2188C16.2706 21.2188 15.9163 21.3631 15.6603 21.6388C15.1288 22.2162 14.0591 23.1875 12.9106 23.1875C10.8697 23.1875 9.20937 21.5534 9.15688 19.5322C9.17 19.4994 9.18313 19.4731 9.19625 19.4403C9.26844 19.2697 9.35375 19.0531 9.39312 18.7906C9.44562 18.4494 9.36031 18.095 9.15688 17.8128C8.94688 17.5372 8.63844 17.3469 8.29063 17.2944C6.93875 17.0909 5.53437 15.9359 5.53437 14.3609C5.53437 13.6587 5.86906 12.8713 6.43344 12.2609C6.68937 11.9788 6.81406 11.6047 6.77469 11.2241C6.73531 10.8434 6.53187 10.5022 6.21687 10.2922C5.32437 9.68188 4.8125 8.78281 4.8125 7.84438C4.8125 6.17094 6.17094 4.8125 7.84438 4.8125C8.95344 4.8125 9.92469 5.14062 10.3775 5.66562C10.64 5.9675 11.0075 6.125 11.375 6.125C11.6375 6.125 11.9 6.04625 12.1297 5.88219C12.5234 5.60656 12.8319 5.53437 13.6391 5.53437C15.0041 5.53437 16.31 6.50563 16.6775 7.79187C16.7759 8.13969 17.0122 8.42844 17.3272 8.59906C17.5175 8.6975 17.7275 8.75 17.9375 8.75C18.0753 8.75 18.2197 8.73031 18.3575 8.68438L18.3903 8.67125C18.8628 8.51375 19.1056 8.435 19.4272 8.435C21.5009 8.435 23.1809 10.1216 23.1809 12.1888C23.1809 13.4422 22.3672 14.3872 21.6847 14.9581C21.245 15.3256 21.0941 15.9294 21.3106 16.4609C21.4484 16.8022 21.7372 17.5044 21.7372 17.9834C21.7372 18.8562 21.4353 19.6634 20.93 20.3C20.0572 19.1319 19.0531 17.8981 17.99 16.6644L20.4903 11.6703C20.6544 11.3487 20.5231 10.955 20.195 10.7909C19.8734 10.6269 19.4797 10.7581 19.3156 11.0863L17.0581 15.5947C16.0475 14.4528 15.0041 13.3306 13.9869 12.2872L14.6431 8.19875C14.7022 7.83781 14.4594 7.50313 14.0984 7.44406C13.7441 7.385 13.4028 7.62781 13.3438 7.98875L12.8384 11.1322C12.1034 10.3906 11.3816 9.71469 10.7188 9.12406V7.4375C10.7188 7.07656 10.4234 6.78125 10.0625 6.78125C9.70156 6.78125 9.40625 7.07656 9.40625 7.4375V8.00187C8.73688 7.47031 8.16594 7.07 7.73281 6.85344C7.40469 6.68938 7.01094 6.82063 6.85344 7.14219C6.68938 7.47031 6.82063 7.86406 7.14219 8.02156C7.71969 8.31031 8.57281 8.96 9.58344 9.8525C9.60313 9.86563 9.61625 9.87875 9.62937 9.89187C10.6859 10.8238 11.9197 12.0181 13.1994 13.3438H9.40625C9.04531 13.3438 8.75 13.6391 8.75 14C8.75 14.3609 9.04531 14.6562 9.40625 14.6562H14.3609C14.3872 14.6562 14.4069 14.6431 14.4331 14.6431C15.0959 15.3584 15.7653 16.1 16.415 16.8416L12.5103 17.9638C12.1625 18.0622 11.9591 18.4297 12.0641 18.7775C12.1428 19.0597 12.3988 19.25 12.6875 19.25C12.7466 19.25 12.8056 19.2434 12.8713 19.2237L17.3534 17.9375C18.2919 19.0466 19.1712 20.1425 19.9456 21.1794C19.3747 21.5338 18.6987 21.7437 17.9769 21.7437C17.9047 21.7372 17.6553 21.6584 17.4059 21.4812Z"
                                      fill="#359740" />
                            </svg>

                            <p class="products__list__item__name">
                                HERBS
                            </p>
                        </li>
                        <li class="products__list__item">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.9328 5.80646C18.7487 5.63845 18.4927 5.55844 18.2367 5.61445L17.9967 5.66245C17.6047 5.62245 17.2046 5.59844 16.7966 5.59844C15.5565 5.59844 14.3564 5.80646 13.2444 6.18249L12.7083 4.55037C12.6123 4.25435 12.3483 4.03834 12.0363 4.00633C11.7243 3.96633 11.4202 4.11834 11.2602 4.39036L9.81212 6.86253C8.82806 6.11048 7.61997 5.59844 6.39589 5.59844C5.95586 5.59844 5.59583 5.95847 5.59583 6.3985C5.59583 6.83853 5.95586 7.19856 6.39589 7.19856C7.32395 7.19856 8.25202 7.64659 8.98807 8.24663L4.35575 11.3348C4.05973 11.5269 3.93172 11.8949 4.03572 12.2309C4.13173 12.5669 4.44375 12.7989 4.79578 12.7989H6.34788C5.86785 14.039 5.59583 15.3911 5.59583 16.7992C5.59583 16.9992 5.61183 17.1912 5.62783 17.3913C5.57983 17.5593 5.59583 17.7353 5.65184 17.8873C6.19587 23.5597 10.9802 28 16.7966 28C22.981 28 27.9974 22.9837 27.9974 16.7992C27.9974 11.3428 24.1011 6.80653 18.9328 5.80646ZM16.7966 26.3999C11.8683 26.3999 7.79598 22.6636 7.25995 17.8793L8.02 17.1432C8.10001 19.2794 8.94806 21.3995 10.5802 23.0237C12.2923 24.7358 14.5485 25.5998 16.8046 25.5998C19.0608 25.5998 21.3089 24.7438 23.029 23.0237C23.3411 22.7116 23.3411 22.2076 23.029 21.8956C22.717 21.5836 22.213 21.5836 21.901 21.8956C19.0928 24.7038 14.5245 24.7038 11.7163 21.8956C9.98014 20.1595 9.31609 17.7433 9.73212 15.4871L10.0841 15.1431L12.9723 18.8874C13.1164 19.0874 13.3564 19.1994 13.5964 19.1994C13.6844 19.1994 13.7724 19.1834 13.8524 19.1594C14.1804 19.0474 14.3964 18.7434 14.3964 18.3993V12.7029L20.0928 11.9909C20.4529 11.9429 20.7409 11.6629 20.7889 11.3028C20.8369 10.9428 20.6369 10.5988 20.3008 10.4548L16.9246 9.07069L18.5727 7.36657C23.021 8.20663 26.3973 12.1109 26.3973 16.7992C26.3973 22.0956 22.093 26.3999 16.7966 26.3999ZM10.0361 9.46271C10.0521 9.45471 10.0521 9.44671 10.0601 9.43871C10.2762 9.78273 10.3962 10.1188 10.3962 10.3988C10.3962 10.8388 10.7562 11.1988 11.1962 11.1988C11.6363 11.1988 11.9963 10.8388 11.9963 10.3988C11.9963 9.63872 11.6122 8.78267 10.9882 8.00661L11.7323 6.73452L12.0763 7.7906C12.2043 8.17462 12.5963 8.40664 12.9963 8.32663L16.0126 7.70259L14.9405 8.81467C14.7565 9.00668 14.6765 9.2787 14.7325 9.53472C14.7885 9.79074 14.9645 10.0068 15.2125 10.1108L16.8606 10.7828L13.4924 11.2068C13.1004 11.2548 12.7963 11.5989 12.7963 11.9989V16.0472L10.7962 13.447C10.6602 13.263 10.4442 13.151 10.2202 13.135C10.2042 13.135 10.1801 13.135 10.1641 13.135C9.95613 13.135 9.75612 13.215 9.60411 13.359L7.988 14.9271L8.76405 12.2069C8.83606 11.9749 8.78805 11.7189 8.63604 11.5189C8.48403 11.3188 8.24402 11.1988 7.996 11.1988H7.43596L10.0361 9.46271Z"
                                      fill="#359740" />
                            </svg>

                            <p class="products__list__item__name">
                                VEGETABLES
                            </p>
                        </li>
                        <li class="products__list__item">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_3849)">
                                    <path d="M22.3871 9.17501C21.1402 7.27195 19.188 6.07219 17.0932 5.73433C17.1146 5.58953 17.0932 5.43094 17.0148 5.29304C16.8652 5.03102 16.5588 4.88622 16.2453 4.94828L11.9205 5.81017L11.322 4.03122C11.2365 3.7761 11.0013 3.58993 10.7235 3.56235C10.4456 3.53477 10.1748 3.66578 10.0323 3.90021L8.74271 6.03082C7.86634 5.38267 6.79047 4.94138 5.70034 4.94138C5.30847 4.94138 4.98784 5.25166 4.98784 5.6309C4.98784 6.01013 5.30847 6.32042 5.70034 6.32042C6.52684 6.32042 7.35334 6.70654 8.00884 7.22368L3.88347 9.88521C3.61984 10.0507 3.50584 10.3679 3.59847 10.6575C3.68397 10.9471 3.96184 11.147 4.27534 11.147H6.17772L5.00922 15.098C4.92372 15.4013 5.05197 15.7185 5.32984 15.8771C5.44384 15.9461 5.57209 15.9667 5.70034 15.9667C5.71459 18.2215 6.74771 20.4072 8.65009 21.8138C11.4645 23.8893 15.5613 24.9442 20.8338 24.9442C21.0333 24.9442 21.2328 24.9442 21.4323 24.9374C23.0853 24.9098 24.489 23.6893 24.6956 22.0965C25.3725 16.8907 24.5958 12.5467 22.3871 9.17501ZM23.2848 21.9242C23.1637 22.8412 22.3657 23.5445 21.4181 23.5583C16.1812 23.6342 12.177 22.6826 9.51934 20.7175C7.65259 19.3385 6.81897 17.0286 7.23222 14.8084L8.25821 13.8499C7.31772 16.1253 7.99459 18.7248 9.95397 20.1728C12.3836 21.9655 16.0458 22.8757 20.8338 22.8757C21.0262 22.8757 21.2186 22.8757 21.4181 22.8688C21.81 22.8619 22.1235 22.5447 22.1163 22.1655C22.1092 21.7863 21.7886 21.4898 21.4038 21.4898C21.3967 21.4898 21.3967 21.4898 21.3896 21.4898C16.6515 21.5725 13.089 20.7451 10.8232 19.0765C9.29846 17.9526 8.82822 15.8495 9.71172 14.0844L11.5571 16.4011C11.6853 16.5666 11.8991 16.6632 12.1128 16.6632C12.1912 16.6632 12.2696 16.6494 12.3408 16.6287C12.633 16.5321 12.8253 16.2701 12.8253 15.9736V11.0643L17.8983 10.4506C18.219 10.4092 18.4755 10.1679 18.5182 9.85763C18.561 9.54735 18.3828 9.25086 18.0836 9.12675L15.0768 7.93388L15.9888 7.01683C18.0195 7.0513 19.9931 8.08558 21.183 9.9059C23.2065 13.0087 23.919 17.0493 23.2848 21.9242ZM8.94221 8.27175C8.95647 8.26485 8.95646 8.25796 8.96359 8.25106C9.15596 8.54755 9.26284 8.83715 9.26284 9.07848C9.26284 9.45771 9.58347 9.768 9.97534 9.768C10.3672 9.768 10.6878 9.45771 10.6878 9.07848C10.6878 8.42344 10.3458 7.68566 9.79009 7.01683L10.4527 5.9205L10.7591 6.83066C10.8731 7.16852 11.2293 7.36158 11.5785 7.29263L14.2646 6.75481L13.3098 7.71324C13.146 7.87872 13.0747 8.11316 13.1246 8.3338C13.1745 8.55445 13.3312 8.74062 13.5521 8.83025L15.0198 9.40945L12.0202 9.77489C11.6711 9.81626 11.4003 10.1128 11.4003 10.4575V13.9465L9.61909 11.7055C9.49797 11.5469 9.30559 11.4504 9.10609 11.4366C9.09184 11.4366 9.07047 11.4366 9.05621 11.4366C8.87097 11.4366 8.69284 11.5056 8.55747 11.6297L7.11821 12.9811L7.80934 10.6368C7.87347 10.4368 7.83072 10.2162 7.69534 10.0438C7.55997 9.87142 7.34622 9.768 7.12534 9.768H6.62659L8.94221 8.27175Z"
                                          fill="#359740" />
                                    <path d="M15.1699 13.7053C15.3124 13.8363 15.4905 13.9053 15.6758 13.9053C15.861 13.9053 16.0391 13.8363 16.1816 13.7053C16.4595 13.4364 16.4595 13.002 16.1816 12.7331L15.4691 12.0436C15.1913 11.7747 14.7424 11.7747 14.4645 12.0436C14.1866 12.3125 14.1866 12.7469 14.4645 13.0158L15.1699 13.7053Z"
                                          fill="#359740" />
                                    <path d="M19.4443 13.0159C19.5868 13.1469 19.7649 13.2158 19.9502 13.2158C20.1354 13.2158 20.3135 13.1469 20.456 13.0159C20.7339 12.747 20.7339 12.3126 20.456 12.0437L19.7435 11.3541C19.4657 11.0852 19.0168 11.0852 18.7389 11.3541C18.461 11.6231 18.461 12.0575 18.7389 12.3264L19.4443 13.0159Z"
                                          fill="#359740" />
                                    <path d="M16.1816 17.5528L15.4691 16.8633C15.1913 16.5944 14.7424 16.5944 14.4645 16.8633C14.1866 17.1322 14.1866 17.5666 14.4645 17.8355L15.177 18.525C15.3124 18.6629 15.4905 18.7319 15.6758 18.7319C15.861 18.7319 16.0391 18.6629 16.1816 18.5319C16.4595 18.263 16.4595 17.8217 16.1816 17.5528Z"
                                          fill="#359740" />
                                    <path d="M18.0197 16.4634C18.1622 16.5944 18.3404 16.6634 18.5256 16.6634C18.7109 16.6634 18.889 16.5944 19.0315 16.4634C19.3094 16.1945 19.3094 15.7601 19.0315 15.4912L18.319 14.8017C18.0411 14.5327 17.5922 14.5327 17.3144 14.8017C17.0365 15.0706 17.0365 15.505 17.3144 15.7739L18.0197 16.4634Z"
                                          fill="#359740" />
                                    <path d="M20.8696 16.4635L21.5821 17.153C21.7246 17.284 21.9028 17.3529 22.088 17.3529C22.2733 17.3529 22.4514 17.284 22.5939 17.153C22.8718 16.8841 22.8718 16.4497 22.5939 16.1807L21.8814 15.4912C21.6035 15.2223 21.1546 15.2223 20.8768 15.4912C20.5918 15.7532 20.5918 16.1945 20.8696 16.4635Z"
                                          fill="#359740" />
                                    <path d="M19.7435 18.2423C19.4657 17.9734 19.0168 17.9734 18.7389 18.2423C18.461 18.5112 18.461 18.9456 18.7389 19.2145L19.4514 19.9041C19.5868 20.042 19.7649 20.1109 19.9502 20.1109C20.1354 20.1109 20.3135 20.042 20.456 19.911C20.7339 19.642 20.7339 19.2077 20.456 18.9387L19.7435 18.2423Z"
                                          fill="#359740" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1_3849">
                                        <rect width="21.375" height="21.375" fill="white"
                                              transform="translate(3.5625 3.5625)" />
                                    </clipPath>
                                </defs>
                            </svg>

                            <p class="products__list__item__name">
                                FRUITS
                            </p>
                        </li>
                        <li class="products__list__item">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2524 5.12435L8.72845 3.71496C8.42006 3.42835 7.93686 3.42835 7.62846 3.71496L6.10409 5.12435C5.40473 5.77432 5 6.68283 5 7.63386V13.6289C5 14.1037 5.39964 14.5115 5.87786 14.5115H7.66477V16.0827C7.26705 16.2732 6.94886 16.6883 6.94886 17.1701V20.3146C6.94886 20.9765 7.50691 21.5 8.1737 21.5H8.17577C8.8426 21.5 9.375 20.9765 9.375 20.3146V17.1701C9.375 16.6883 9.09659 16.2732 8.69886 16.0827V14.5018V11.9885C8.69886 11.7968 8.84121 11.6687 9.03439 11.6687H9.03494C9.22808 11.6687 9.375 11.7968 9.375 11.9885V14.5115H10.4678C10.9461 14.5115 11.3636 14.1037 11.3636 13.6289V7.63386C11.3636 6.68283 10.9518 5.77432 10.2524 5.12435ZM18.4917 3.92998H18.4507C18.1565 3.92998 17.9261 4.14714 17.9261 4.43924V7.20582C17.9261 7.61029 17.5836 7.95727 17.1762 7.95727H17.1742C16.7667 7.95727 16.4148 7.61029 16.4148 7.20582V4.43924C16.4148 4.14714 16.2 3.92998 15.9057 3.92998H15.9037C15.6094 3.92998 15.3807 4.14714 15.3807 4.43924V7.20582C15.3807 7.61029 15.0426 7.95727 14.6352 7.95727H14.6332C14.2258 7.95727 13.9091 7.61029 13.9091 7.20582V4.43924C13.9091 4.14714 13.659 3.92998 13.3647 3.92998H13.3627C13.0685 3.92998 12.8352 4.14714 12.8352 4.43924V13.5868C12.8352 14.0848 13.2427 14.5115 13.7443 14.5115H15.4205V16.0827C14.983 16.2732 14.7045 16.6883 14.7045 17.1701V20.3146C14.7045 20.9765 15.2585 21.5 15.9254 21.5H15.9246C16.5914 21.5 17.1307 20.9765 17.1307 20.3146V17.1701C17.1307 16.6883 16.8523 16.2732 16.4148 16.0827V11.9402C16.4943 11.7714 16.5943 11.6413 16.7709 11.6413C16.964 11.6413 17.1307 11.7968 17.1307 11.9885V14.5115H18.1162C18.6179 14.5115 19 14.0848 19 13.5868V4.43924C19 4.14714 18.786 3.92998 18.4917 3.92998Z"
                                      fill="#359740" />
                            </svg>

                            <p class="products__list__item__name">
                                SUPPLIES
                            </p>
                        </li>
                        <li class="products__list__item">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.00713 12.2448C8.4238 12.5925 7.81335 12.8007 7.16387 12.8704C6.72629 12.9195 6.31009 12.8688 5.962 12.7339C5.39133 12.5076 4.96791 12.1001 4.70729 11.5271C4.64715 11.3949 4.643 11.2417 4.7021 11.1007C4.94407 10.5144 5.35243 10.103 5.92172 9.85699C6.26329 9.70942 6.68347 9.65194 7.1199 9.68438C8.02208 9.75669 8.84827 10.0984 9.64345 10.7014L10.0745 10.6934C10.1645 10.3223 10.3599 9.98172 10.634 9.70006L10.4095 9.32341C9.47423 8.9658 8.74945 8.43915 8.22058 7.70856C7.95933 7.35382 7.79445 6.97276 7.7405 6.60028C7.64965 5.98834 7.79251 5.42384 8.1599 4.91227C8.24461 4.7933 8.37781 4.7139 8.52276 4.69598C9.14751 4.61617 9.712 4.75903 10.2071 5.13004C10.509 5.35467 10.7658 5.68097 10.9535 6.07952C11.34 6.89498 11.4585 7.78304 11.3282 8.77584L11.5527 9.15248C11.9281 9.04077 12.3233 9.03549 12.6926 9.13285L12.9046 8.75747C12.7498 7.7666 12.8422 6.87732 13.2059 6.05669C13.3822 5.65278 13.6308 5.31785 13.9277 5.08486C14.4103 4.70385 14.9711 4.53765 15.6018 4.60367C15.7467 4.61692 15.8794 4.69342 15.9744 4.81108C16.3591 5.31016 16.5161 5.87644 16.4391 6.48881C16.3922 6.85917 16.2388 7.24939 15.9874 7.6109C15.6172 8.14906 15.1437 8.58696 14.5603 8.93467C14.3353 9.06883 14.0919 9.18275 13.8385 9.29023L13.6265 9.66561C13.7609 9.79714 13.8889 9.93874 13.9902 10.1087C14.0915 10.2786 14.1552 10.4586 14.2069 10.6394L14.6453 10.6333C15.4211 10.0028 16.2383 9.64016 17.1401 9.54464C17.5777 9.49547 17.9939 9.5462 18.342 9.68109C18.9126 9.90742 19.336 10.3149 19.5967 10.8879C19.6568 11.0201 19.6564 11.176 19.6018 11.3144C19.4024 11.7943 19.0913 12.1602 18.6734 12.4094C18.5815 12.4641 18.4869 12.5143 18.3868 12.5553C18.0452 12.7029 17.6297 12.7576 17.1886 12.7279C16.2865 12.6556 15.4603 12.3139 14.6697 11.7082L14.2386 11.7161C14.1505 12.0799 13.9551 12.4205 13.6856 12.6994C13.765 12.8326 13.849 12.9631 13.9284 13.0963C14.8471 13.4575 15.5618 13.9777 16.0898 14.6964C16.3511 15.0511 16.516 15.4322 16.5699 15.8047C16.6266 16.1817 16.5834 16.5374 16.4622 16.8773C16.8577 17.4259 17.2561 17.948 17.6453 18.4443C17.6905 18.0501 17.8062 17.6699 18.0044 17.3027C18.4304 16.5134 19.1529 15.9396 20.0863 15.6571C20.8133 15.4354 21.5727 15.3936 22.3289 15.5343C22.5186 15.5706 22.6796 15.705 22.7414 15.8922C22.8033 16.0795 22.7559 16.282 22.6225 16.4238C22.2491 16.8207 21.7747 17.5392 21.669 18.2496C21.5044 19.3625 20.8908 20.0145 20.2064 20.4225C19.9997 20.5457 19.7931 20.6377 19.5838 20.7251C21.2714 22.533 22.8233 23.737 24.125 24.2185C24.4035 24.3202 24.5439 24.6287 24.4422 24.9072C24.396 25.0282 24.3141 25.1205 24.213 25.1808C24.0798 25.2602 23.911 25.2799 23.7535 25.2244C22.8163 24.8741 21.8543 24.2523 20.9092 23.471L20.8312 23.5175C20.4478 23.8456 20.0149 24.1846 19.5372 24.4694C18.6369 25.006 17.5648 25.3587 16.3256 25.1075C15.4421 24.9307 14.2557 25.1648 13.5094 25.4167C13.3037 25.4894 13.0783 25.4246 12.9394 25.2646C12.8005 25.1046 12.7663 24.8698 12.8622 24.6756C13.2727 23.8396 13.8637 23.0764 14.6204 22.4138C15.5683 21.5811 16.6482 21.0743 17.7417 20.9454C17.9343 20.924 18.1205 20.9126 18.3076 20.9131C18.2893 20.8929 18.2683 20.8681 18.25 20.8478C17.3369 19.8172 16.4917 18.7335 15.7473 17.7144C15.1363 17.7859 14.5837 17.6422 14.1061 17.2795C13.8041 17.0549 13.5474 16.7286 13.3596 16.33C12.9731 15.5146 12.8546 14.6265 12.9804 13.6364L12.7559 13.2598C12.3805 13.3715 11.9852 13.3768 11.6159 13.2794L11.4039 13.6548C11.5588 14.6457 11.4663 15.535 11.1026 16.3556C10.9263 16.7595 10.6777 17.0944 10.3809 17.3274C10.2972 17.396 10.2081 17.4553 10.1162 17.5101C9.69823 17.7592 9.22381 17.8615 8.71134 17.8059C8.56374 17.788 8.43373 17.7161 8.3387 17.5985C7.95406 17.0994 7.79705 16.5331 7.87402 15.9207C7.92094 15.5504 8.0743 15.1602 8.32571 14.7986C8.84141 14.0555 9.54912 13.5091 10.4701 13.122L10.6839 12.7393C10.5495 12.6078 10.4215 12.4662 10.3202 12.2963C10.2189 12.1263 10.1552 11.9464 10.1035 11.7656L9.67245 11.7735C9.44817 11.9508 9.2322 12.1106 9.00713 12.2448ZM7.03336 10.7507C6.76564 10.7297 6.52804 10.7593 6.33981 10.8404C6.10476 10.9369 5.93101 11.084 5.80018 11.2928C5.93531 11.4986 6.11832 11.6385 6.35556 11.7336C6.54334 11.8085 6.78262 11.8339 7.0514 11.8044C7.5963 11.7473 8.09113 11.5644 8.57439 11.2577C8.0773 10.9564 7.57613 10.7944 7.03336 10.7507ZM15.0987 7.00765C15.2525 6.78525 15.3439 6.56267 15.3674 6.36191C15.3993 6.11256 15.356 5.88317 15.2438 5.66367C14.998 5.67946 14.7859 5.7623 14.5892 5.92313C14.433 6.0474 14.2893 6.24507 14.1804 6.49053C13.9607 6.98877 13.8647 7.50663 13.8906 8.08262C14.3976 7.8053 14.7911 7.45245 15.0987 7.00765ZM17.2633 11.6625C17.531 11.6834 17.7686 11.6539 17.9568 11.5728C18.1891 11.4717 18.3675 11.3218 18.4964 11.1204C18.3613 10.9146 18.1783 10.7747 17.9438 10.6841C17.756 10.6093 17.5167 10.5838 17.248 10.6133C16.7031 10.6704 16.2128 10.8506 15.725 11.1601C16.2193 11.4568 16.7205 11.6187 17.2633 11.6625ZM20.6121 18.0953C20.6953 17.5352 20.9307 16.9902 21.2109 16.5306C20.9366 16.5509 20.6668 16.5997 20.3924 16.6823C19.9353 16.8241 19.3035 17.1322 18.9365 17.8116C18.7217 18.2136 18.5044 18.8411 18.9233 19.8364C19.9992 19.4691 20.4802 18.9707 20.6121 18.0953ZM9.19791 15.4055C9.04411 15.6279 8.95268 15.8505 8.92917 16.0513C8.90001 16.3052 8.93603 16.5327 9.05279 16.7495C9.29861 16.7337 9.51069 16.6509 9.7074 16.49C9.86366 16.3658 10.0073 16.1681 10.1162 15.9226C10.3359 15.4244 10.4319 14.9065 10.406 14.3305C9.89901 14.6079 9.50549 14.9607 9.19791 15.4055ZM9.56354 5.99296C9.36039 5.84014 9.14603 5.76249 8.89844 5.75443C8.79235 5.9733 8.75868 6.1988 8.79188 6.45292C8.8234 6.65202 8.92364 6.8724 9.0789 7.09111C9.4041 7.53224 9.80111 7.87453 10.3121 8.13646C10.322 7.55782 10.2144 7.04304 9.97917 6.55449C9.86984 6.3084 9.72367 6.11539 9.56354 5.99296ZM17.8633 22.0059C16.9863 22.1116 16.1038 22.5318 15.3178 23.2182C15.0116 23.4879 14.7375 23.7695 14.4963 24.0751C15.1716 23.9652 15.9008 23.9352 16.5359 24.0608C17.6678 24.2888 18.73 23.8985 20.0749 22.7606C19.5027 22.1243 18.8046 21.8931 17.8633 22.0059ZM14.7331 16.4202C14.9362 16.573 15.1506 16.6507 15.3982 16.6587C15.5043 16.4399 15.5425 16.2116 15.5047 15.9602C15.4732 15.7611 15.373 15.5408 15.2177 15.322C14.8925 14.8809 14.4955 14.5386 13.9845 14.2767C13.9746 14.8553 14.0823 15.3701 14.3174 15.8587C14.4268 16.1048 14.573 16.2978 14.7331 16.4202ZM12.6959 12.1252C13.2011 11.8241 13.3681 11.1643 13.067 10.659C12.7658 10.1537 12.106 9.98677 11.6007 10.2879C11.0955 10.5891 10.9285 11.2489 11.2297 11.7542C11.5308 12.2594 12.1906 12.4264 12.6959 12.1252Z"
                                      fill="#359740" />
                            </svg>

                            <p class="products__list__item__name">
                                FLOWERS
                            </p>
                        </li>
                    </ul>
                    <div class="products__cards">

                        @foreach (var product in Model)
                        {
                            <div class="products__cards__card">
                                <svg class="like__icon" width="40" height="40" viewBox="0 0 40 40" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="20" cy="20" r="19.5" fill="white" stroke="#EFEFEF" />
                                    <path d="M27.6573 13.8009C26.6273 12.7823 25.2619 12.1606 23.8078 12.0482C22.3538 11.9357 20.9068 12.3398 19.7284 13.1875C18.4921 12.2805 16.9533 11.8693 15.4219 12.0365C13.8904 12.2038 12.4801 12.9372 11.475 14.089C10.4698 15.2408 9.94444 16.7255 10.0047 18.2441C10.0649 19.7627 10.7062 21.2024 11.7995 22.2733L17.8336 28.2346C18.3389 28.7251 19.0195 29 19.7284 29C20.4374 29 21.1179 28.7251 21.6232 28.2346L27.6573 22.2733C28.7918 21.1474 29.4286 19.6245 29.4286 18.0371C29.4286 16.4497 28.7918 14.9268 27.6573 13.8009ZM26.2872 20.9507L20.2531 26.9024C20.1845 26.9708 20.1027 27.0251 20.0127 27.0621C19.9226 27.0992 19.826 27.1183 19.7284 27.1183C19.6308 27.1183 19.5342 27.0992 19.4442 27.0621C19.3541 27.0251 19.2724 26.9708 19.2037 26.9024L13.1696 20.9219C12.4076 20.1536 11.9809 19.1215 11.9809 18.0467C11.9809 16.9719 12.4076 15.9398 13.1696 15.1715C13.9461 14.4153 14.9934 13.9912 16.0846 13.9912C17.1758 13.9912 18.2231 14.4153 18.9997 15.1715C19.09 15.2613 19.1975 15.3326 19.3159 15.3812C19.4343 15.4299 19.5613 15.4549 19.6895 15.4549C19.8178 15.4549 19.9448 15.4299 20.0632 15.3812C20.1816 15.3326 20.2891 15.2613 20.3794 15.1715C21.156 14.4153 22.2032 13.9912 23.2945 13.9912C24.3857 13.9912 25.433 14.4153 26.2095 15.1715C26.982 15.9297 27.4227 16.9562 27.4372 18.0311C27.4518 19.1059 27.039 20.1436 26.2872 20.9219V20.9507Z"
                                          fill="#FFCF55" />
                                </svg>

                                <img src="@Url.Content(product.ImageUrl)" alt="@product.Name" width="250" height="300"/>

                                <div class="products__cards__card__grade">
                                    <svg width="84" height="16" viewBox="0 0 84 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M82.6668 6.73337C82.7335 6.40004 82.4668 6.00004 82.1335 6.00004L78.3335 5.46671L76.6002 2.00004C76.5335 1.86671 76.4668 1.80004 76.3335 1.73337C76.0002 1.53337 75.6002 1.66671 75.4002 2.00004L73.7335 5.46671L69.9335 6.00004C69.7335 6.00004 69.6002 6.06671 69.5335 6.20004C69.2668 6.46671 69.2668 6.86671 69.5335 7.13337L72.2668 9.80004L71.6002 13.6C71.6002 13.7334 71.6002 13.8667 71.6668 14C71.8668 14.3334 72.2668 14.4667 72.6002 14.2667L76.0002 12.4667L79.4002 14.2667C79.4668 14.3334 79.6002 14.3334 79.7335 14.3334C79.8002 14.3334 79.8002 14.3334 79.8668 14.3334C80.2002 14.2667 80.4668 13.9334 80.4002 13.5334L79.7335 9.73337L82.4668 7.06671C82.6002 7.00004 82.6668 6.86671 82.6668 6.73337ZM78.5335 9.06671C78.4002 9.20004 78.3335 9.46671 78.3335 9.66671L78.8002 12.4667L76.2668 11.1334C76.2002 11.0667 76.0668 11.0667 75.9335 11.0667V3.80004L77.2002 6.33337C77.2668 6.53337 77.4668 6.66671 77.7335 6.66671L80.5335 7.06671L78.5335 9.06671Z"
                                              fill="#FFCF55" />
                                        <path d="M14.6668 6.73337C14.7335 6.40004 14.4668 6.00004 14.1335 6.00004L10.3335 5.46671L8.60016 2.00004C8.5335 1.86671 8.46683 1.80004 8.3335 1.73337C8.00016 1.53337 7.60016 1.66671 7.40016 2.00004L5.7335 5.46671L1.9335 6.00004C1.7335 6.00004 1.60016 6.06671 1.5335 6.20004C1.26683 6.46671 1.26683 6.86671 1.5335 7.13337L4.26683 9.80004L3.60016 13.6C3.60016 13.7334 3.60016 13.8667 3.66683 14C3.86683 14.3334 4.26683 14.4667 4.60016 14.2667L8.00016 12.4667L11.4002 14.2667C11.4668 14.3334 11.6002 14.3334 11.7335 14.3334C11.8002 14.3334 11.8002 14.3334 11.8668 14.3334C12.2002 14.2667 12.4668 13.9334 12.4002 13.5334L11.7335 9.73337L14.4668 7.06671C14.6002 7.00004 14.6668 6.86671 14.6668 6.73337Z"
                                              fill="#FFCF55" />
                                        <path d="M31.6668 6.73337C31.7335 6.40004 31.4668 6.00004 31.1335 6.00004L27.3335 5.46671L25.6002 2.00004C25.5335 1.86671 25.4668 1.80004 25.3335 1.73337C25.0002 1.53337 24.6002 1.66671 24.4002 2.00004L22.7335 5.46671L18.9335 6.00004C18.7335 6.00004 18.6002 6.06671 18.5335 6.20004C18.2668 6.46671 18.2668 6.86671 18.5335 7.13337L21.2668 9.80004L20.6002 13.6C20.6002 13.7334 20.6002 13.8667 20.6668 14C20.8668 14.3334 21.2668 14.4667 21.6002 14.2667L25.0002 12.4667L28.4002 14.2667C28.4668 14.3334 28.6002 14.3334 28.7335 14.3334C28.8002 14.3334 28.8002 14.3334 28.8668 14.3334C29.2002 14.2667 29.4668 13.9334 29.4002 13.5334L28.7335 9.73337L31.4668 7.06671C31.6002 7.00004 31.6668 6.86671 31.6668 6.73337Z"
                                              fill="#FFCF55" />
                                        <path d="M48.6668 6.73337C48.7335 6.40004 48.4668 6.00004 48.1335 6.00004L44.3335 5.46671L42.6002 2.00004C42.5335 1.86671 42.4668 1.80004 42.3335 1.73337C42.0002 1.53337 41.6002 1.66671 41.4002 2.00004L39.7335 5.46671L35.9335 6.00004C35.7335 6.00004 35.6002 6.06671 35.5335 6.20004C35.2668 6.46671 35.2668 6.86671 35.5335 7.13337L38.2668 9.80004L37.6002 13.6C37.6002 13.7334 37.6002 13.8667 37.6668 14C37.8668 14.3334 38.2668 14.4667 38.6002 14.2667L42.0002 12.4667L45.4002 14.2667C45.4668 14.3334 45.6002 14.3334 45.7335 14.3334C45.8002 14.3334 45.8002 14.3334 45.8668 14.3334C46.2002 14.2667 46.4668 13.9334 46.4002 13.5334L45.7335 9.73337L48.4668 7.06671C48.6002 7.00004 48.6668 6.86671 48.6668 6.73337Z"
                                              fill="#FFCF55" />
                                        <path d="M65.6668 6.73337C65.7335 6.40004 65.4668 6.00004 65.1335 6.00004L61.3335 5.46671L59.6002 2.00004C59.5335 1.86671 59.4668 1.80004 59.3335 1.73337C59.0002 1.53337 58.6002 1.66671 58.4002 2.00004L56.7335 5.46671L52.9335 6.00004C52.7335 6.00004 52.6002 6.06671 52.5335 6.20004C52.2668 6.46671 52.2668 6.86671 52.5335 7.13337L55.2668 9.80004L54.6002 13.6C54.6002 13.7334 54.6002 13.8667 54.6668 14C54.8668 14.3334 55.2668 14.4667 55.6002 14.2667L59.0002 12.4667L62.4002 14.2667C62.4668 14.3334 62.6002 14.3334 62.7335 14.3334C62.8002 14.3334 62.8002 14.3334 62.8668 14.3334C63.2002 14.2667 63.4668 13.9334 63.4002 13.5334L62.7335 9.73337L65.4668 7.06671C65.6002 7.00004 65.6668 6.86671 65.6668 6.73337Z"
                                              fill="#FFCF55" />
                                    </svg>
                                    <span>(123)</span>
                                </div>

                                <h3 class="products__cards__card__title">
                                    @product.Name
                                </h3>

                                <div class="products__cards__card__category" >
                                    <span>@product.CategoryName</span>
                                </div>

                                <div class="products__cards__card__price">
                                    <h4 class="products__cards__card__price_num">
                                        @string.Format("{0:C}", product.Price)
                                    </h4>
                                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.5" y="0.5" width="47" height="47" rx="7.5" stroke="#EFEFEF" />
                                        <path d="M20.8867 33.3333C21.7151 33.3333 22.3867 32.6617 22.3867 31.8333C22.3867 31.0049 21.7151 30.3333 20.8867 30.3333C20.0583 30.3333 19.3867 31.0049 19.3867 31.8333C19.3867 32.6617 20.0583 33.3333 20.8867 33.3333Z"
                                              fill="#359740" />
                                        <path d="M30 33.3333C30.8284 33.3333 31.5 32.6617 31.5 31.8333C31.5 31.0049 30.8284 30.3333 30 30.3333C29.1716 30.3333 28.5 31.0049 28.5 31.8333C28.5 32.6617 29.1716 33.3333 30 33.3333Z"
                                              fill="#359740" />
                                        <path d="M34.0533 15.58C33.9913 15.5035 33.913 15.4417 33.8243 15.3991C33.7355 15.3564 33.6384 15.334 33.54 15.3333H19.66L20.0933 16.6666H32.6666L30.8866 24.6666H20.8866L17.84 15.02C17.807 14.9176 17.7498 14.8247 17.6732 14.7493C17.5965 14.6738 17.5028 14.618 17.4 14.5866L14.6666 13.7466C14.5826 13.7208 14.4943 13.7118 14.4067 13.7201C14.3192 13.7284 14.2342 13.7539 14.1565 13.795C13.9996 13.8782 13.8821 14.0202 13.83 14.19C13.7778 14.3597 13.7952 14.5432 13.8783 14.7001C13.9615 14.857 14.1035 14.9745 14.2733 15.0266L16.6666 15.76L19.7266 25.4266L18.6333 26.32L18.5466 26.4066C18.2762 26.7183 18.1229 27.1145 18.1132 27.527C18.1034 27.9396 18.2378 28.3426 18.4933 28.6666C18.675 28.8876 18.9059 29.063 19.1675 29.1788C19.4291 29.2945 19.7142 29.3474 20 29.3333H31.1266C31.3034 29.3333 31.473 29.2631 31.598 29.138C31.723 29.013 31.7933 28.8434 31.7933 28.6666C31.7933 28.4898 31.723 28.3203 31.598 28.1952C31.473 28.0702 31.3034 28 31.1266 28H19.8933C19.8165 27.9973 19.7417 27.975 19.6761 27.935C19.6105 27.895 19.5563 27.8388 19.5188 27.7718C19.4813 27.7048 19.4617 27.6292 19.4619 27.5524C19.4621 27.4756 19.4821 27.4001 19.52 27.3333L21.1266 26H31.42C31.5741 26.0037 31.7247 25.954 31.8463 25.8592C31.9678 25.7644 32.0527 25.6304 32.0866 25.48L34.2 16.1466C34.2202 16.0472 34.2176 15.9445 34.1921 15.8463C34.1667 15.7481 34.1192 15.657 34.0533 15.58Z"
                                              fill="#359740" />
                                    </svg>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="blog">
                    <div class="blog__top">
                        <h2 class="blog__top__title">
                            Our blog.
                        </h2>
                        <a href="#" class="blog__top__link">
                            Go to our blog
                        </a>
                    </div>
                    <div class="blog__content">
                        <div class="blog__content__card">
                            <div class="blog__content__card__time">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 3C7.05 3 3 7.05 3 12C3 16.95 7.05 21 12 21C16.95 21 21 16.95 21 12C21 7.05 16.95 3 12 3ZM14.7 12.9H12C11.46 12.9 11.1 12.54 11.1 12V7.5C11.1 6.96 11.46 6.6 12 6.6C12.54 6.6 12.9 6.96 12.9 7.5V11.1H14.7C15.24 11.1 15.6 11.46 15.6 12C15.6 12.54 15.24 12.9 14.7 12.9Z"
                                          fill="#70737C" />
                                </svg>
                                <span>
                                    12.09.2021
                                </span>
                            </div>
                            <h3 class="blog__content__card__title">
                                How to plant spinach correctly in winter
                            </h3>
                            <p class="blog__content__card__desc">
                                In most areas, successive sowing can be done from early spring until early winter, but
                                more often during hotter months...
                            </p>
                            <a href="#" class="blog__content__card__link">
                                Read
                            </a>
                        </div>
                        <div class="blog__content__card">
                            <div class="blog__content__card__time">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 3C7.05 3 3 7.05 3 12C3 16.95 7.05 21 12 21C16.95 21 21 16.95 21 12C21 7.05 16.95 3 12 3ZM14.7 12.9H12C11.46 12.9 11.1 12.54 11.1 12V7.5C11.1 6.96 11.46 6.6 12 6.6C12.54 6.6 12.9 6.96 12.9 7.5V11.1H14.7C15.24 11.1 15.6 11.46 15.6 12C15.6 12.54 15.24 12.9 14.7 12.9Z"
                                          fill="#70737C" />
                                </svg>
                                <span>
                                    12.09.2021
                                </span>
                            </div>
                            <h3 class="blog__content__card__title">
                                How to plant spinach correctly in winter
                            </h3>
                            <p class="blog__content__card__desc">
                                In most areas, successive sowing can be done from early spring until early winter, but
                                more often during hotter months...
                            </p>
                            <a href="#" class="blog__content__card__link">
                                Read
                            </a>
                        </div>
                        <div class="blog__content__card">
                            <div class="blog__content__card__time">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 3C7.05 3 3 7.05 3 12C3 16.95 7.05 21 12 21C16.95 21 21 16.95 21 12C21 7.05 16.95 3 12 3ZM14.7 12.9H12C11.46 12.9 11.1 12.54 11.1 12V7.5C11.1 6.96 11.46 6.6 12 6.6C12.54 6.6 12.9 6.96 12.9 7.5V11.1H14.7C15.24 11.1 15.6 11.46 15.6 12C15.6 12.54 15.24 12.9 14.7 12.9Z"
                                          fill="#70737C" />
                                </svg>
                                <span>
                                    12.09.2021
                                </span>
                            </div>
                            <h3 class="blog__content__card__title">
                                How to plant spinach correctly in winter
                            </h3>
                            <a href="#" class="blog__content__card__link">
                                Read
                            </a>
                        </div>
                        <div class="blog__content__card">
                            <div class="blog__content__card__time">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 3C7.05 3 3 7.05 3 12C3 16.95 7.05 21 12 21C16.95 21 21 16.95 21 12C21 7.05 16.95 3 12 3ZM14.7 12.9H12C11.46 12.9 11.1 12.54 11.1 12V7.5C11.1 6.96 11.46 6.6 12 6.6C12.54 6.6 12.9 6.96 12.9 7.5V11.1H14.7C15.24 11.1 15.6 11.46 15.6 12C15.6 12.54 15.24 12.9 14.7 12.9Z"
                                          fill="#70737C" />
                                </svg>
                                <span>
                                    12.09.2021
                                </span>
                            </div>
                            <h3 class="blog__content__card__title">
                                How to plant spinach correctly in winter
                            </h3>
                            <a href="#" class="blog__content__card__link">
                                Read
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  -->
        <section>
            <div class="seedra_section">
                <div class="container">
                    <div class="seedra">
                        <h2 class="seedra__title">
                            Seedra helps to grow fast and efficiant
                        </h2>
                        <p class="seedra__desc">
                            SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and professional instructions created
                            by
                            PhD Helga George <br><br><br> Be sure of our quality - the freshest batches of this season.
                            Non-GMO, Heirloom
                            - our seeds were tested and have the best germination ratings. <br> Your easy growing
                            experience is
                            our guarantee Spinach commom culinary uses: salads, soups, smoothies, lasagne, pizza, pies,
                            risotto, and more <br><br><br> Proudly sourced in the USA - our garden seeds are grown,
                            harvested, and
                            packaged in the USA. We support local farmers and are happy to produce this American-made
                            product
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__top footer__desktop">
                    <ul class="footer__top__list">
                        <li class="footer__top__list__item">
                            <a href="#">
                                ALL PRODUCTS
                            </a>
                        </li>
                        <li class="footer__top__list__item">
                            <a href="#">
                                ABOUT SEEDRA
                            </a>
                        </li>
                        <li class="footer__top__list__item">
                            <a href="#">
                                OUR BLOG
                            </a>
                        </li>
                    </ul>
                    <a href="index.html">
                        <img src="/images/logo.svg" alt="logo">
                    </a>
                    <ul class="footer__top__list">
                        <li class="footer__top__list__item">
                            <a href="#">
                                Terms&Conditions
                            </a>
                        </li>
                        <li class="footer__top__list__item">
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer_top footer__mobile">
                    <div class="footer_logo">
                        <a href="index.html">
                            <img src="/images/logo.svg" alt="logo">
                        </a>
                    </div>

                    <div>
                        <ul class="footer__top__list">
                            <li class="footer__top__list__item">
                                <a href="#">
                                    ALL PRODUCTS
                                </a>
                            </li>
                            <li class="footer__top__list__item">
                                <a href="#">
                                    ABOUT SEEDRA
                                </a>
                            </li>
                            <li class="footer__top__list__item">
                                <a href="#">
                                    OUR BLOG
                                </a>
                            </li>
                        </ul>
                        <ul class="footer__top__list">
                            <li class="footer__top__list__item">
                                <a href="#">
                                    Terms&Conditions
                                </a>
                            </li>
                            <li class="footer__top__list__item">
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="footer__hr">
                <div class="footer__bottom">
                    <div class="footer__bottom__socials">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.99999 6.87579C8.27968 6.87579 6.87577 8.2797 6.87577 10C6.87577 11.7203 8.27968 13.1242 9.99999 13.1242C11.7203 13.1242 13.1242 11.7203 13.1242 10C13.1242 8.2797 11.7203 6.87579 9.99999 6.87579ZM19.3703 10C19.3703 8.70626 19.382 7.42423 19.3094 6.13283C19.2367 4.63283 18.8945 3.30158 17.7976 2.2047C16.6984 1.10548 15.3695 0.765639 13.8695 0.692982C12.5758 0.620326 11.2937 0.632045 10.0023 0.632045C8.70858 0.632045 7.42655 0.620326 6.13515 0.692982C4.63515 0.765639 3.3039 1.10783 2.20702 2.2047C1.1078 3.30392 0.767958 4.63283 0.695302 6.13283C0.622645 7.42658 0.634364 8.70861 0.634364 10C0.634364 11.2914 0.622645 12.5758 0.695302 13.8672C0.767958 15.3672 1.11015 16.6985 2.20702 17.7953C3.30624 18.8945 4.63515 19.2344 6.13515 19.307C7.4289 19.3797 8.71093 19.368 10.0023 19.368C11.2961 19.368 12.5781 19.3797 13.8695 19.307C15.3695 19.2344 16.7008 18.8922 17.7976 17.7953C18.8969 16.6961 19.2367 15.3672 19.3094 13.8672C19.3844 12.5758 19.3703 11.2938 19.3703 10ZM9.99999 14.807C7.33983 14.807 5.19296 12.6602 5.19296 10C5.19296 7.33986 7.33983 5.19298 9.99999 5.19298C12.6601 5.19298 14.807 7.33986 14.807 10C14.807 12.6602 12.6601 14.807 9.99999 14.807ZM15.0039 6.11876C14.3828 6.11876 13.8812 5.6172 13.8812 4.99611C13.8812 4.37501 14.3828 3.87345 15.0039 3.87345C15.625 3.87345 16.1266 4.37501 16.1266 4.99611C16.1267 5.14359 16.0978 5.28966 16.0415 5.42595C15.9851 5.56224 15.9024 5.68607 15.7981 5.79036C15.6939 5.89464 15.57 5.97733 15.4337 6.03368C15.2974 6.09004 15.1514 6.11895 15.0039 6.11876Z"
                                  fill="#359740" />
                        </svg>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M0 10.0558C0 15.0275 3.61083 19.1617 8.33333 20V12.7775H5.83333V10H8.33333V7.7775C8.33333 5.2775 9.94417 3.88917 12.2225 3.88917C12.9442 3.88917 13.7225 4 14.4442 4.11083V6.66667H13.1667C11.9442 6.66667 11.6667 7.2775 11.6667 8.05583V10H14.3333L13.8892 12.7775H11.6667V20C16.3892 19.1617 20 15.0283 20 10.0558C20 4.525 15.5 0 10 0C4.5 0 0 4.525 0 10.0558Z"
                                  fill="#359740" />
                        </svg>

                    </div>
                    <p class="footer__bottom__desc">
                        All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>